#aside h1{
    font-size: 24px;
    font-weight: bolder;
    color: black;
    margin-bottom: 10px;
}

#contactBanner{
    background-image: url("../image/Contact-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#aside p{
    font-size: 14px;
    font-weight: normal;
    color: #797370;
}
#form textarea{
    width: 100%;
    height: 150px;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}
#form input{
    width: 100%;
    height: 50px;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}
#form input:focus,
#form textarea:focus{
    outline: none;
}