ul>li>span{
    font-size: 16px;
    font-weight: 700;
    color: black;
}
ul>li>span:hover{
    color: #0846f0;
}

ul li a:hover{
    text-decoration: underline;
}

#menuItem:hover .menuDown{
    display: block;
}